---
import Layout from "../layouts/Layout.astro";
import TarifsAcideHyaluronique from "../content/tarifs/detatouagelaser.md";
import Header from "../components/Header.astro";
import HeroBox from "../components/HeroBox.astro";
import Accordion from "../components/Accordion.astro";
import TarifAvantage from "../components/TarifAvantage.astro";
import ResultsGalleryInjections from "../components/Resultats/ResultsGalleryInjections.astro";
import { Image } from "astro:assets";
import Footer from "../components/Footer.astro";
---

<Layout title="Page des composants" description="Ceci est la meta description">
	<div class="hero-element">
		<div class="overlay"></div>
        
		<Header />
		<HeroBox
			title="Détatouage Laser"
			body="Effacez vos tatouages devenus indésirables grâce au laser picoseconde."
		/>
	</div>
	<main>
		<section class="container gauche-droite pt-24 pb-24">
			<div class="lg:flex lg:flex-row gap-8 mb-24">
				<div class="col lg:w-1/2 flex flex-col justify-center">
					<h3 class="text-lg md:text-xl lg:text-xxl mb-6">
						Comment fonctionne le détatouage au laser ?
					</h3>
					<p class="text-base mb-3">
						Véritable phénomène de mode depuis plusieurs années, le tatouage peut parfois être source de regret (tatouage raté, limite professionnelle, tatouage estompé avec le temps, lassitude …).
					</p>
					<p class="text-base">
						Le principe du détatouage laser repose sur l’effet photomécanique ou photoacoustique. Le laser émet des impulsions très brèves qui pulvérisent et fragmentent les pigments du tatouage dans la peau en petites particules.
					</p>
				</div>
				<div class="col lg:w-1/2 lg:mt-0 mt-8 flex flex-col justify-center">
					<img  class="rounded-md" src="/img/detatouage1.jpg" alt="">
				</div>
			</div>
			<div class="lg:flex lg:flex-row-reverse gap-8 mb-6">
				<div class="col lg:w-1/2 flex flex-col justify-center">
<h3 class="text-lg md:text-xl lg:text-xxl mb-6">
						Après le passage du laser...
					</h3>
					<p class="text-base mb-3">
						Ces débris sont ensuite reconnus comme étrangers par l’organisme et vont être éliminés par le système immunitaire dans les semaines qui suivent.
					</p>
					<p class="text-base">
						Le laser picoseconde est une véritable révolution dans le détatouage laser. Grâce à ses durées d’impulsion ultra-courtes (de l’ordre de la picoseconde) et à ses niveaux de puissance élevés, ce laser est actuellement la technologie esthétique médicale de détatouage la plus efficace et la plus sécuritaire.
					</p>
				</div>
				<div class="col lg:w-1/2 lg:mt-0 mt-8 flex flex-col justify-center">
					<img class="rounded-md" src="/img/detatouage2.jpg" alt="">
				</div>
			</div>

			<div class="mt-24 rounded-ss-lg rounded-se-lg overflow-hidden shadow-md">
				<Accordion
					items={[
						{
							title: "En savoir plus",
							answer:
								"<p>Plus les temps d’impacts sont courts, plus <strong>l’effet photomécanique</strong> est important avec très peu d’effet thermique évitant ainsi le risque d’effet indésirable. Plus la durée d’impulsion est courte, plus la puissance (rapport de l’énergie sur le temps) est élevée permettant de <strong>fragmenter plus efficacement les pigments en profondeur</strong>.</p><p><strong>Comparativement aux classiques lasers Q-switched nanosecondes</strong> (10-9 secondes), les <strong>lasers picoseconde</strong> permettent de traiter les tatouages plus efficacement et en moins de séance. <strong>Les suites sont plus simples</strong> permettant des séances plus rapprochées. La survenue de complications (cicatrices, hypo ou hyperpigmentation) est considérablement réduite voire inexistante.</p><p>Nos centres sont équipés des derniers laser picoseconde de détatouage : le laser Discovery Pico Plus et le laser Picoway qui comprennent <strong>plusieus longueurs d’onde</strong> permettant de traiter toutes les couleurs de tatouage sur tout type de peau.</p><p><strong>.FD Nd : Yag 532 nm (KTP)</strong> : efficace sur les tatouages à l’encre rouge, orange et jaune</p><p><strong>.Ruby 694 nm :</strong> efficace sur les tatouages à l’encre bleue, verte et bleu ciel.</p><p><strong>.Cristal Titanium 730 nm :</strong> efficace sur les tatouages à l’encre bleue, verte et violette.</p><p><strong>.Nd :Yag 1064 nm :</strong> efficace sur les tatouages à l’encre noire, marron et bleu foncée.</p>",
						},
					]}
				/>
			</div>
		</section>
		
<section class="text-justify px-8 py-24 bg-grey-400 text-white">
			<h2 class="section-title text-center dark">LA SÉANCE DE DETATOUAGE LASER</h2>
			<div class="max-w-3xl mx-auto shadow-xl">
				<Accordion
					items={[
						{
							title: "Consultation d'information",
							answer:
								"<p><strong>Une consultation</strong> par un médecin est réalisée de façon <strong>systématique</strong>. Elle permet l’examen du tatouage, vérifier l’absence de contre-indication et d’établir les paramètres qui seront ensuite utilisés pour un traitement optimal. Cette première consultation médicale est offerte</p>",
							isopen: true,
						},
						{
							title: "Avant la séance de détatouage laser",
							answer:
								"<p>On recommande d’appliquer sur la zone du tatouage une crème solaire protectrice SPF50+ 1 semaine avant la séance. La prise de médicaments photosensibilisants (Roacutane, certains antibiotiques), de compléments nutritionnels (béta-carotène, lycopène) ou l’utilisation d’autobronzant doit être proscrite. Le jour de la séance, la peau doit être nettoyée et propre, sans maquillage, crème ou lotion.</p><p>Selon la douleur ressentie pendant le traitement, il est possible d’appliquer sur la peau une <strong>crème anesthésiante</strong> (1 heure avant le traitement).</p>",
						},
						{
							title:
								"La séance de détatouage laser",
							answer:
								"<p>La durée de la séance de détatouage laser varie en fonction de la surface à traiter. L’utilisation pendant le traitement d’un <strong>système de refroidissement (ZIMMER Cryo 6) permet d’améliorer le confort du patient</strong>.</p><p>Le <strong>passage du laser</strong> sur le tatouage induit la formation immédiate d’un léger « frosting » (blanchiment de couleur cendrée) avec un bruit de claquement (odeur de poudre). Ce résidu blanc disparaît en quelques minutes.</p>",
						},
						{
							title:
								"Après la séance de détatouage",
							answer:
								"<p><strong>Dans les 3 à 7 jours suivant la séance</strong>, la peau est rouge, inflammatoire et peut être sensible. On peut appliquer 2 à 3 fois par jour une crème réparatrice afin d’atténuer ces effets indésirables.</p><p>Aussi, nous recommandons une éviction solaire de la zone traiter jusqu’à disparition complète des rougeurs (environ 5 à 7 jours).</p>",
						},
					]}
				/>
			</div>
		</section>
		
		<section class="bigtopo text-justify px-8 py-24 bg-white">
			<h2 class="section-title text-center">
				Résultats du détatouage laser
			</h2>
            <p class="text-center text-base max-w-[850px] mx-auto mb-8">Le nombre de séance pour un résultat optimal de détatouage laser picoseconde dépend de plusieurs paramètres : type de tatouage (amateur, professionnel), densité du pigment, couleur de l’encre, taille et localisation du tatouage, phototype du patient …</p>
            <div class="max-w-3xl mx-auto mb-8 shadow-md">
            <Accordion 
					items={[
						{
							title: "En savoir plus",
							answer:
								"<p>Le nombre de séances peut varier entre 2 (tatouage amateur de petite taille peu concentré en pigment, dermopigmentation des sourcils ou des lèvres) et 10 séances (tatouage professionnel de grande taille, avec plusieurs couleurs et une quantité de pigment importante sur des peaux très foncées).</p><p>Les séances de détatouage sont espacées de 6 à 8 semaines minimum. Pendant cette période, les fragments du pigment sont éliminés par l’organisme et le tatouage s’efface progressivement.</p><p>Grâce à ses temps de pulse extrêmement courts et à ses niveaux de puissance élevés, les lasers picoseconde permettent d’obtenir d’excellents résultats sans risque de cicatrice ou de tatouage « fantôme ».</p><p>Le centre laser médical est le seul centre médico-esthétique de la Réunion à utiliser cette technologie laser.</p>",
						},
					]}
				/></div>

			<div class="max-w-3xl mx-auto">
				<ResultsGalleryInjections />
			</div>
		</section>
		<section class="tarifs pt-24 text-center pb-24 px-8 bg-grey-100">
			<h2 class="section-title">Tarifs</h2>

			<TarifsAcideHyaluronique />

			<a href="/demander-un-rdv/" class="cta rounded brown">Prendre RDV</a>
			<TarifAvantage />
		</section>
	</main>
	<!-- FIN DE GAUCHE DROITE -->
</Layout>

<Footer />

<style lang="scss">
	:root {
		--swiper-theme-color: #d19f6b !important;
		--swiper-pagination-bullet-size: 10px !important;
		--swiper-pagination-bullet-width: 10px !important;
		--swiper-pagination-bullet-horizontal-gap: 6px;
		--swiper-pagination-bullet-width: 26px;
		--swiper-pagination-bullet-height: 5px;
		--swiper-pagination-bullet-border-radius: 99px;
		--swiper-pagination-bullet-inactive-color: #dddddd;
		--swiper-pagination-bullet-inactive-opacity: 1;
	}
	main {
		margin: auto;
	}
	.gdm-button-prev,
	.gdm-button-next {
		@apply absolute;
	}
	.gdm-button-prev {
		@apply left-6;
	}
	.gdm-button-next {
		@apply right-6;
	}
	.swiper-fade .mySwiperThumbs .swiper-slide,
	.swiper-fade .mySwiperThumbsZone .swiper-slide {
		pointer-events: auto !important;
		transition-property: opacity;
		transition: 300ms ease all;
	}

	.mySwiperThumbs,
	.mySwiperThumbsZone {
		.swiper-wrapper {
			/*@apply mx-auto text-center flex flex-wrap justify-center gap-4 sm:gap-6;*/
		}
		.swiper-slide {
			@apply cursor-pointer h-36 border-2 border-transparent rounded-lg overflow-hidden relative text-center text-white text-base flex flex-col justify-end items-center leading-6 pb-0 filter grayscale transition-all duration-300 ease-in-out bg-cover bg-center bg-no-repeat hover:grayscale-0 max-w-[200px];
			h4 {
				@apply text-[18px] z-20 relative mb-4;
			}
			&.swiper-slide-thumb-active {
				@apply filter grayscale-0 border-2 border-white;
			}
			.overlay {
				@apply bg-black bg-opacity-10 absolute top-0 left-0 right-0 bottom-0 z-10;
			}
		}
		.swiper-slide-thumb-active {
			@apply font-bold;
		}
	}

	.mainswiper {
		@apply text-center;
		.swiper-slide {
			@apply text-left text-base bg-grey-600 h-0 mx-auto text-white;
			.elemcontainer {
				@apply grid grid-cols-1 sm:grid-cols-2 gap-6 sm:text-base text-sm max-w-[850px] text-center px-6 sm:px-0 py-8 mx-auto;
			}
			h3 {
				@apply text-[22px] leading-7 mb-3;
			}
			p {
				@apply text-[18px] mb-2;
			}
			&.swiper-slide-active {
				@apply h-auto  mx-auto;
			}
		}
	}
	.hero-element {
		background: url("/img/hero-detatouage-laser.jpg") no-repeat center center;
		@apply relative bg-cover bg-center;
	}
	.overlay {
		@apply absolute top-0 bottom-0 left-0 right-0  bg-black bg-opacity-50 pointer-events-none  transition-all duration-500;
	}
</style>
