---
import "@fancyapps/ui/dist/fancybox/fancybox.css";
//import '@fancyapps/ui/dist/fancybox/fancybox.umd.js';
---

<script
	is:inline
	src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"
></script>
<div class="gallery" id="MyCarousel">
	<a data-src="/img/cernes-avant-radiofrequence.jpg" data-caption="Cernes - Avant" data-fancybox="exilis">
		<img src="/img/cernes-avant-radiofrequence.jpg" width="630" height="354" />
	</a>
	<div class="flex gap-4">
		<a data-src="/img/cernes-apres-radiofrequence.jpg"  data-caption="Cernes - Après" data-fancybox="exilis">
			<img src="/img/cernes-apres-radiofrequence.jpg" width="141" height="78" />
		</a>
		<a data-src="/img/radiofrequence-abdomen-avant.jpg"  data-caption="Abdomen - Avant" data-fancybox="exilis">
			<img src="/img/radiofrequence-abdomen-avant.jpg" width="141" height="78" />
		</a>
		<a data-src="/img/radiofrequence-abdomen-apres.jpg"  data-caption="Abdomen - Après" data-fancybox="exilis">
			<img src="/img/radiofrequence-abdomen-apres.jpg" width="141" height="78" />
		</a>
		<a data-src="/img/peri-orbitaire-avant-1.jpg"  data-caption="Peri-orbitaire - Avant" data-fancybox="exilis">
			<img src="/img/peri-orbitaire-avant-1.jpg" width="141" height="78" />
		</a>
		<a data-src="/img/peri-orbitaire-apres.jpg"  data-caption="Peri-orbitaire - Après" data-fancybox="exilis">
			<img src="/img/peri-orbitaire-apres.jpg" width="141" height="78" />
		</a>
		
	</div>
</div>

<style lang="scss">
	.gallery {
		@apply flex flex-col gap-4;
		img {
			@apply w-full;
		}
	}
</style>

<script>
	function initializeFancybox() {
		//@ts-ignore
		Fancybox.bind("[data-fancybox]", {
			Thumbs: {
				type: "classic",
			},
			Carousel: {
    transition: "fade",
  },
		});
	}
	initializeFancybox();
	document.addEventListener("DOMContentLoaded", initializeFancybox);
	document.addEventListener("astro:page-load", initializeFancybox);
</script>
