---
import "@fancyapps/ui/dist/fancybox/fancybox.css";
//import '@fancyapps/ui/dist/fancybox/fancybox.umd.js';
---

<script
	is:inline
	src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"
></script>
<div class="gallery" id="MyCarousel">
	<a data-src="/img/CICATRICE-AVANT.jpg" data-caption="Cicatrice - Avant" data-fancybox="Mesolift" class="rounded-lg max-h-[300px] overflow-y-clip">
		<img src="/img/CICATRICE-AVANT.jpg" width="630" height="354" />
	</a>
	<div class="flex gap-4">
		<a class="rounded-lg max-w-[70px] overflow-y-clip" data-src="/img/CICATRICE-APRES.jpg"  data-caption="Cicatrice - Après" data-fancybox="Mesolift">
			<img src="/img/CICATRICE-APRES.jpg" width="141" height="78" />
		</a>	
	</div>
</div>

<style lang="scss">
	.gallery {
		@apply flex flex-col gap-4;
		img {
			@apply w-full;
		}
	}
</style>

<script>
	function initializeFancybox() {
		//@ts-ignore
		Fancybox.bind("[data-fancybox]", {
			Thumbs: {
				type: "classic",
			},
			Carousel: {
    transition: "fade",
  },
		});
	}
	initializeFancybox();
	document.addEventListener("DOMContentLoaded", initializeFancybox);
	document.addEventListener("astro:page-load", initializeFancybox);
</script>
