---
import "@fancyapps/ui/dist/fancybox/fancybox.css";
//import '@fancyapps/ui/dist/fancybox/fancybox.umd.js';
---

<script
	is:inline
	src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"
></script>
<div class="gallery" id="MyCarousel">
	<a data-src="/img/resultat-levre-avant-injection.jpg" data-caption="Injection des lèvres - Avant" data-fancybox="injections">
		<img src="/img/resultat-levre-avant-injection.jpg" width="630" height="354" />
	</a>
	<div class="flex gap-4">
		<a class="max-w-[141px]" data-src="/img/resultat-levre-apres-injection.jpg" data-caption="Injection des lèvres - Après" data-fancybox="injections">
			<img src="/img/resultat-levre-apres-injection.jpg" width="141" height="auto" />
		</a>
	</div>
</div>

<style lang="scss">
	.gallery {
		@apply flex flex-col gap-4;
		img {
			@apply w-full;
		}
	}
</style>

<script>
	function initializeFancybox() {
		//@ts-ignore
		Fancybox.bind("[data-fancybox]", {
			Thumbs: {
				type: "classic",
			},
		});
	}
	initializeFancybox();
	document.addEventListener("DOMContentLoaded", initializeFancybox);
	document.addEventListener("astro:page-load", initializeFancybox);
</script>
