---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import HeroBox from "../../components/HeroBox.astro";
import Accordion from "../../components/Accordion.astro";
import TarifsMesolift from "../../content/tarifs/mesolift.md";
import { Image } from "astro:assets";
import Footer from "../../components/Footer.astro";
import AutresSoinsInjections from "../../components/AutresSoinsInjections.astro";
import ResultsGalleryInjections from "../../components/Resultats/ResultsGalleryInjections.astro";
---

<Layout
	title="Ovale du visage et bajoue I Centre Laser Médical à la Réunion"
	description="Redessiner l'ovale du visage et redéfinir la jawline grâce à l'acide hyaluronique. Première consultation médicale d'information gratuite.">
	<div class="hero-element">
		<div class="overlay"></div>
		<Header />
		<HeroBox
			title="Ovale du visage et jawline"
			body="Redéfinissez la séparation entre votre visage et votre cou grâce à l'acide hyaluronique."
		/>
	</div>
	<main>
		<section class="container gauche-droite pt-24 pb-18">
			<div class="lg:flex lg:flex-row gap-8 mb-24">
				<div class="col lg:w-1/2 flex flex-col justify-center">
					<h3 class="text-lg md:text-xl lg:text-xxl mb-6">
						LOREM IPSUM
					</h3>
					<p class="text-base mb-3">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non interdum justo. Integer eget metus orci. Sed sed ipsum consectetur, fringilla tellus ut, blandit lacus. Nullam quis leo sollicitudin, volutpat orci eu, efficitur felis. In cursus, ante vitae tempus interdum, ante lorem dictum purus, in eleifend libero lacus vitae quam.
					</p>
					<p class="text-base mb-3">
						Integer at nunc fringilla, semper erat sed, sagittis diam. Sed mollis, metus non porta vulputate, metus lorem tincidunt neque, ut scelerisque nunc lacus venenatis erat. Aenean commodo, orci luctus pellentesque ornare, neque mi pretium ante, vitae ornare leo elit et turpis.
					</p>
				</div>
				<div class="col lg:w-1/2 lg:mt-0 mt-8 flex flex-col justify-center">
					<img
						src="/img/mesolift1.jpg"
						alt="Mesolift, c'est quoi ?"
						class="w-full rounded-lg"
					/>
				</div>
			</div>
			<div class="lg:flex lg:flex-row-reverse gap-8 mb-24">
				<div class="col lg:w-1/2 flex flex-col justify-center">
					<h3 class="text-lg md:text-xl lg:text-xxl mb-6">
						LOREM IPSUM
					</h3>
					<p class="text-base mb-3">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non interdum justo. Integer eget metus orci. Sed sed ipsum consectetur, fringilla tellus ut, blandit lacus. Nullam quis leo sollicitudin, volutpat orci eu, efficitur felis. In cursus, ante vitae tempus interdum, ante lorem dictum purus, in eleifend libero lacus vitae quam.
					</p>
					<p class="text-base mb-3">
						Integer at nunc fringilla, semper erat sed, sagittis diam. Sed mollis, metus non porta vulputate, metus lorem tincidunt neque, ut scelerisque nunc lacus venenatis erat. Aenean commodo, orci luctus pellentesque ornare, neque mi pretium ante, vitae ornare leo elit et turpis.
					</p>
				</div>
				<div class="col lg:w-1/2 lg:mt-0 mt-8 flex flex-col justify-center">
					<img
						src="/img/mesolift2.jpg"
						alt="Comment agit Mesolift ?"
						class="w-full rounded-lg"
					/>
				</div>
			</div>
		</section>

		
		 <section class="bigtopo text-justify px-8 py-24 bg-grey-400 text-white">
			<h2 class="section-title dark text-center">
				Résultats du traitement à l'acide hyaluronique
			</h2>
            
			<div class="max-w-3xl mx-auto">
				<ResultsGalleryInjections />
			</div>
            <p class="text-justify max-w-3xl mx-auto text-base mb-6 mt-6">La <strong>radiofréquence</strong> procure des <strong>résultats durables et mesurables</strong>. Avec son <strong>système non invasif</strong>, toutes les zones du corps peuvent être traitées et améliorées en toute sécurité. L’Exilis Elite est le seul appareil breveté, permettant <strong>au cours d’un même traitement de raffermir la peau et de réduire les amas graisseux et la cellulite</strong>.</p>
            <p class="text-justify max-w-3xl mx-auto text-base mb-6"><strong>Dans les suites immédiates</strong> de la séance les résultats ne sont pas encore visibles. La fonte graisseuse et la formation de collagène et d’élastine vont s’effectuer progressivement les semaines suivant le traitement. <strong>Les premiers effets peuvent être observés après deux semaines</strong>.</p>
            <p class="text-justify max-w-3xl mx-auto text-base mb-6"><strong>Pour un résultat optimal</strong>, 3 à 4 séances espacées d’une à deux semaines sont nécessaires. Le <strong>résultat final</strong> sera observé 3 mois après les séances d’Exilis Elite.</p>
		</section>
			<AutresSoinsInjections />
	</main>
	<!-- FIN DE GAUCHE DROITE -->
</Layout>

<Footer />

<script>
	import Swiper from "swiper/bundle";
	import "swiper/css/bundle";

	function initializeZoneSlider() {
		const swiperElement = document.querySelector(".mySwiper");
		const swiperThumbsElement = document.querySelector(".mySwiperThumbsZone");

		//@ts-ignore
		if (swiperElement && swiperThumbsElement && !swiperElement.swiper) {
			var swiperThumbs = new Swiper(".mySwiperThumbsZone", {
				slidesPerView: "auto",
				freeMode: false,
				loop: false,
				grabCursor: true,
				spaceBetween: 30,
				watchSlidesProgress: true,
				slideToClickedSlide: true,

				breakpoints: {
					// when window width is >= 320px
					320: {
						slidesPerView: 3,
						spaceBetween: 10,
					},
					// when window width is >= 480px
					480: {
						slidesPerView: 3,
						spaceBetween: 20,
					},
					// when window width is >= 640px
					640: {
						slidesPerView: 3,
						spaceBetween: 30,
					},
					// when window width is >= 992px
					992: {
						slidesPerView: 5,
						spaceBetween: 30,
					},
					// when window width is >= 1200px
					1200: {
						slidesPerView: 6,
						spaceBetween: 50,
					},
				},
			});
			var swiper = new Swiper(".mySwiper", {
				slideActiveClass: "swiper-slide-active",
				effect: "fade",
				fadeEffect: {
					crossFade: true,
				},
				loop: true,
				spaceBetween: 0,
				grabCursor: true,
				navigation: {
					nextEl: ".gdm-button-next",
					prevEl: ".gdm-button-prev",
				},
				pagination: {
					el: ".swiper-pagination",
					clickable: true,
				},
				freeMode: false,
				slidesPerView: 1,
				watchSlidesProgress: false,
				thumbs: {
					swiper: swiperThumbs,
				},
			});
		}
	}

	document.addEventListener("DOMContentLoaded", initializeZoneSlider);

	document.addEventListener("astro:page-load", initializeZoneSlider);
</script>

<style lang="scss">
	:root {
		--swiper-theme-color: #d19f6b !important;
		--swiper-pagination-bullet-size: 10px !important;
		--swiper-pagination-bullet-width: 10px !important;
		--swiper-pagination-bullet-horizontal-gap: 6px;
		--swiper-pagination-bullet-width: 26px;
		--swiper-pagination-bullet-height: 5px;
		--swiper-pagination-bullet-border-radius: 99px;
		--swiper-pagination-bullet-inactive-color: #dddddd;
		--swiper-pagination-bullet-inactive-opacity: 1;
	}
	main {
		margin: auto;
	}
	.gdm-button-prev,
	.gdm-button-next {
		@apply absolute;
	}
	.gdm-button-prev {
		@apply left-6;
	}
	.gdm-button-next {
		@apply right-6;
	}
	.swiper-fade .mySwiperThumbs .swiper-slide,
	.swiper-fade .mySwiperThumbsZone .swiper-slide {
		pointer-events: auto !important;
		transition-property: opacity;
		transition: 300ms ease all;
	}

	.mySwiperThumbs,
	.mySwiperThumbsZone {
		.swiper-wrapper {
			/*@apply mx-auto text-center flex flex-wrap justify-center gap-4 sm:gap-6;*/
		}
		.swiper-slide {
			@apply cursor-pointer h-36 border-2 border-transparent rounded-lg overflow-hidden relative text-center text-white text-base flex flex-col justify-end items-center leading-6 pb-0 filter grayscale transition-all duration-300 ease-in-out bg-cover bg-center bg-no-repeat hover:grayscale-0 max-w-[200px];
			h4 {
				@apply text-[18px] z-20 relative mb-4;
			}
			&.swiper-slide-thumb-active {
				@apply filter grayscale-0 border-2 border-white;
			}
			.overlay {
				@apply bg-black bg-opacity-10 absolute top-0 left-0 right-0 bottom-0 z-10;
			}
		}
		.swiper-slide-thumb-active {
			@apply font-bold;
		}
	}

	.mainswiper {
		@apply text-center;
		.swiper-slide {
			@apply text-left text-base bg-grey-600 h-0 mx-auto text-white;
			.elemcontainer {
				@apply grid grid-cols-1 sm:grid-cols-2 gap-6 sm:text-base text-sm max-w-[850px] text-center px-6 sm:px-0 py-8 mx-auto;
			}
			h3 {
				@apply text-[22px] leading-7 mb-3;
			}
			p {
				@apply text-[18px] mb-2;
			}
			&.swiper-slide-active {
				@apply h-auto  mx-auto;
			}
		}
	}
	.hero-element {
		background: url("/img/hero-mesolift.jpg") no-repeat center center;
		@apply relative bg-cover bg-center;
	}
	.overlay {
		@apply absolute top-0 bottom-0 left-0 right-0  bg-black bg-opacity-50 pointer-events-none  transition-all duration-500;
	}
</style>
