---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import HeroBox from "../../components/HeroBox.astro";
import Accordion from "../../components/Accordion.astro";
import TarifsMesolift from "../../content/tarifs/mesolift.md";
import { Image } from "astro:assets";
import Footer from "../../components/Footer.astro";
import AutresSoinsInjections from "../../components/AutresSoinsInjections.astro";
import ResultsGalleryInjectionsOvaleVisage from "../../components/Resultats/ResultsGalleryInjectionsOvaleVisage.astro";
---

<Layout
	title="Ovale du visage et bajoue I Centre Laser Médical à la Réunion"
	description="Redessiner l'ovale du visage et redéfinir la jawline grâce à l'acide hyaluronique. Première consultation médicale d'information gratuite.">
	<div class="hero-element">
		<div class="overlay"></div>
		<Header />
		<HeroBox
			title="Ovale du visage et jawline"
			body="Redéfinissez la séparation entre votre visage et votre cou grâce à l'acide hyaluronique."
		/>
	</div>
	<main>
		<section class="container gauche-droite pt-24 pb-18">
			<div class="lg:flex lg:flex-row gap-8 mb-24">
				<div class="col lg:w-1/2 flex flex-col justify-center">
					<h3 class="text-lg md:text-xl lg:text-xxl mb-6">
						Redéfinir l'ovale du visage
					</h3>
					<p class="text-base mb-3">
						Une séparation nette de la face et du cou est un critère de jeunesse et de beauté. Elle est perceptible de face avec l’ovale du visage et de profil avec l’angle droit formé entre le cou et le menton.
					</p>
					<p class="text-base mb-3">
						Avec le temps, le relâchement cutané et musculaire entrainent un glissement (ptôse) des graisses sous cutanées avec apparition de bajoues et effacement du relief osseux mandibulaire. Ces modifications des contours faciaux affectent de manière préférentielle les visages de type « rond et court ».
					</p>
                    <p class="text-base mb-3">
						Un menton court, fuyant ou une mâchoire fine affaiblit le soutien osseux de la peau et participe à l’apparition précoce d’un visage à l’aspect relâché et d’un double menton. La perte de définition de l’ovale du visage est également associée à l’apparition des sillons nasogéniens et plis d’amertume.
					</p>
				</div>
				<div class="col lg:w-1/2 lg:mt-0 mt-8 flex flex-col justify-center">
					<img
						src="/img/mesolift1.jpg"
						alt="Mesolift, c'est quoi ?"
						class="w-full rounded-lg"
						loading="lazy"
					/>
				</div>
			</div>
			<div class="lg:flex lg:flex-row-reverse gap-8 mb-24">
				<div class="col lg:w-1/2 flex flex-col justify-center">
					<h3 class="text-lg md:text-xl lg:text-xxl mb-6">
						Pourquoi l'acide hyaluronique ?
					</h3>
					<p class="text-base mb-3">
						L’injection d’un produit de comblement en avant et en arrière de la bajoue permet de masquer le phénomène de ptôse. Les contours du visage sont ainsi redéfinis, avec un résultat immédiat et harmonieux.
					</p>
					<p class="text-base mb-3">
						Le menton court et fuyant est corrigé par l’injection méthodique d’acide hyaluronique en de zones précises en avant et en dessous du menton
					</p>
				</div>
				<div class="col lg:w-1/2 lg:mt-0 mt-8 flex flex-col justify-center">
					<img
						src="/img/mesolift2.jpg"
						alt="Comment agit Mesolift ?"
						class="w-full rounded-lg"
						loading="lazy"
					/>
				</div>
			</div>
		</section>

		
		 <section class="bigtopo text-justify px-8 py-24 bg-grey-400 text-white">
			<h2 class="section-title dark text-center">
				Résultats du traitement à l'acide hyaluronique
			</h2>
            
			<div class="max-w-3xl mx-auto">
				<ResultsGalleryInjectionsOvaleVisage />
			</div>
            
		</section>
			<AutresSoinsInjections />
	</main>
	<!-- FIN DE GAUCHE DROITE -->
</Layout>

<Footer />

<style lang="scss">
	
	main {
		margin: auto;
	}
	

	.hero-element {
		background: url("/img/hero-mesolift.jpg") no-repeat center center;
		@apply relative bg-cover bg-center;
	}
	.overlay {
		@apply absolute top-0 bottom-0 left-0 right-0  bg-black bg-opacity-50 pointer-events-none  transition-all duration-500;
	}
</style>
