---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import HeroBox from "../../components/HeroBox.astro";
import Accordion from "../../components/Accordion.astro";
import TarifsMesolift from "../../content/tarifs/mesolift.md";
import { Image } from "astro:assets";
import Footer from "../../components/Footer.astro";
import AutresSoinsInjections from "../../components/AutresSoinsInjections.astro";
import ResultsGalleryInjectionsCernes from "../../components/Resultats/ResultsGalleryInjectionsCernes.astro";
---

<Layout
	title="Injections des cernes | Laser Médical | Saint-Denis et Saint-Leu Réunion"
	description="Le traitement des cernes consiste à combler la perte de volume par injection d'acide hyaluronique au niveau du cerne et de la vallée des larmes.">
	<div class="hero-element">
		<div class="overlay"></div>
		<Header />
		<HeroBox
			title="Cernes"
			body="Réduisez vos cernes et retrouvez un regard frais et reposé"
		/>
	</div>
	<main>
		<section class="container gauche-droite pt-24 pb-18">
			<div class="lg:flex lg:flex-row gap-8 mb-24">
				<div class="col lg:w-1/2 flex flex-col justify-center">
					<h3 class="text-lg md:text-xl lg:text-xxl mb-6">
						Que sont les cernes ?
					</h3>
					<p class="text-base mb-3">
						Le cerne est un creux en forme de croissant visible sous la paupière inférieure plus ou moins associé à une hyperpigmentation ou un aspect bleuté de la peau. Le cerne peut apparaitre dès l’adolescence. Il est secondaire à l’amincissement de la peau, à la fonte des graisses situées sous le muscle orbiculaire, le relâchement cutané et musculaire, ainsi que l’élargissement du cadre osseux orbitaire.
					</p>
					<p class="text-base mb-3">
						L’aspect « bleuté ou brun est lié à l’atrophie cutanée » qui laisse apparaître par transparence le muscle orbiculaire.L’aspect brun est aggravé par l’exposition solaire, cette zone étant très sensible et souvent négligée lors de l’application crème protectrice UV.
					</p>
					<p class="text-base mb-3">
						Le traitement du cerne consiste à combler la perte de graisse par injection d’acide hyaluronique et/ou selon les cas à améliorer la qualité de la peau qui s’est affinée.
					</p>
				</div>
				<div class="col lg:w-1/2 lg:mt-0 mt-8 flex flex-col justify-center">
					<img
						src="/img/mesolift1.jpg"
						alt="Mesolift, c'est quoi ?"
						class="w-full rounded-lg"
						loading="lazy"
					/>
				</div>
			</div>
			<div class="lg:flex lg:flex-row-reverse gap-8 mb-24">
				<div class="col lg:w-1/2 flex flex-col justify-center">
					<h3 class="text-lg md:text-xl lg:text-xxl mb-6">
						Le traitement à l'acide hyaluronique ?
					</h3>
					<p class="text-base mb-3">
						Le traitement par acide hyaluronique est préféré lorsque le creux du cerne est important. Le gel d’acide hyaluronique va permettre de combler l’espace secondaire à la fonte graisseuse.
					</p>
					<p class="text-base mb-3">
						L’injection est réalisée à la canule sous le muscle orbiculaire dans la loge graisseuse du SOOF (Sub Orbicularis Oculi fat). L’ acide hyaluronique utilisé doit être peu hydrophile afin d’éviter les oedèmes.
					</p>
				</div>
				<div class="col lg:w-1/2 lg:mt-0 mt-8 flex flex-col justify-center">
					<img
						src="/img/mesolift2.jpg"
						alt="Comment agit Mesolift ?"
						class="w-full rounded-lg"
						loading="lazy"
					/>
				</div>
			</div>
		</section>

		<section class="bigtopo text-justify px-8 py-24 bg-grey-400 text-white">
			<h2 class="section-title dark text-center">
				Résultats du traitement à l'acide hyaluronique
			</h2>

			<div class="max-w-3xl mx-auto">
				<ResultsGalleryInjectionsCernes />
			</div>
		</section>
		<AutresSoinsInjections />
	</main>
	<!-- FIN DE GAUCHE DROITE -->
</Layout>

<Footer />

<style lang="scss">
	main {
		margin: auto;
	}

	.hero-element {
		background: url("/img/hero-mesolift.jpg") no-repeat center center;
		@apply relative bg-cover bg-center;
	}
	.overlay {
		@apply absolute top-0 bottom-0 left-0 right-0  bg-black bg-opacity-50 pointer-events-none  transition-all duration-500;
	}
</style>
