---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import HeroBox from "../../components/HeroBox.astro";
import Accordion from "../../components/Accordion.astro";
import TarifsMesolift from "../../content/tarifs/mesolift.md";
import { Image } from "astro:assets";
import Footer from "../../components/Footer.astro";
import AutresSoinsInjections from "../../components/AutresSoinsInjections.astro";
import ResultsGalleryInjectionsLevres from "../../components/Resultats/ResultsGalleryInjectionsLevres.astro";
---

<Layout
	title="Injection des lèvres à l'acide hyaluronique | Laser Médical | Réunion"
	description="L'injection d'acide hyaluronique dans les lèvres permet une redéfinition de leurs contours et une augmentation de leurs volumes avec des résultats naturels et harmonieux.">
	<div class="hero-element">
		<div class="overlay"></div>
		<Header />
		<HeroBox
			title="Injections des lèvres"
			body="Retrouvez des lèvres pulpeuses et hydratées grâce à l'acide hyaluronique"
		/>
	</div>
	<main>
		<section class="container gauche-droite pt-24 pb-18">
			<div class="lg:flex lg:flex-row gap-8 mb-24">
				<div class="col lg:w-1/2 flex flex-col justify-center">
					<h3 class="text-lg md:text-xl lg:text-xxl mb-6">
						Contourns et volume
					</h3>
					<p class="text-base mb-3">
						La bouche est une région déterminante dans la jeunesse et la beauté d’un visage. Toutes les formes de lèvres sont dans la nature, mais quelques mesures définissent les « proportions idéales » :
						<ul class="pl-3">
							<li class="list-disc mb-1 text-base">Une projection d’environ 1,5 mm de la lèvre supérieure par rapport à la lèvre inférieure.</li>
							<li class="list-disc mb-1 text-base">La hauteur de la lèvre supérieure est environ égale à 2/3 de celle de la lèvre inférieure.</li>
							<li class="list-disc mb-1 text-base">Les crêtes philtrales et l’ourlet sont bien définis.</li>
						</ul>
					</p>
					<p class="text-base mb-3">
						La bouche est une des régions anatomiques du visage les plus affectées par les effets du vieillissement :
						<ul class="pl-3">
							<li class="list-disc mb-1 text-base">Lèvres rouges amincies et plissées.</li>
							<li class="list-disc mb-1 text-base">Effacement des contours des lèvres et des crêtes philtrales.</li>
							<li class="list-disc mb-1 text-base">Allongement de la lèvre blanche supérieure avec apparition de rides verticales (communément appelées « code barre »).</li>
						</ul>
					</p>
				</div>
				<div class="col lg:w-1/2 lg:mt-0 mt-8 flex flex-col justify-center">
					<img
						src="/img/mesolift1.jpg"
						alt="Mesolift, c'est quoi ?"
						class="w-full rounded-lg"
						loading="lazy"
					/>
				</div>
			</div>
			<div class="lg:flex lg:flex-row-reverse gap-8 mb-24">
				<div class="col lg:w-1/2 flex flex-col justify-center">
					<h3 class="text-lg md:text-xl lg:text-xxl mb-6">
						Le traitement à l'acide hyaluronique
					</h3>
					<Accordion extraClass="clearaccordion"
					items={[
						{
							title: "Redéfinition des contours",
							answer:
								"<p>L’injection dans les crêtes philtrales et l’ourlet de la lèvre rouge supérieure permet une nette amélioration de l’aspect de la bouche sans apporter de volume..</p>",
								isopen:true
						},
						{
							title: "Volume des lèvres",
							answer:
								"<p>On injecte sous le muscle orbiculaire des lèvres pour augmenter le volume induisant également une légère eversion des lèvres.  Les lèvres supérieurs et inférieurs comportent respectivement un tubercule médian et deux tubercules latéraux. L’injection de ces tubercules augmente la projection des lèvres et leur donne un aspect pulpeux et plus jeune.</p><p>Une projection excessive est disgracieuse et entraine l’aspect « Bec de canard ». L’injection des lèvres doit donc être réalisé avec une technique appropriée et avec une connaissance parfaite de l’anatomie esthétique des lèvres.</p><p>Afin que l’augmentation des lèvres soit harmonieuse sur le visage du patient on doit également considérer la projection de son nez et de son menton.</p>",
						},
						{
							title: "Lèvres plissées sèches",
							answer:
								"<p>On utilise un acide hyaluronique fluide afin d’hydrater et de repulper les lèvres rouges avec une augmentation minime de volume</p>",
						},
						{
							title: "Code barre lèvres blanches",
							answer:
								"<p>Traitement des rides verticales par blanching technique souvent associé à un nappage à la canule afin de corriger l’amincissement de la lèvre blanche.</p>",
						},
							{
							title: "Lèvre blanche supérieure allongée",
							answer:
								"<p>L’injection d’acide hyaluronique dans l’ourlet et dans le vermillon de la lèvre rouge supérieure permet son ascension et réduit ainsi la longueur de la lèvre blanche.</p>",
						},
					]}
				/>
				</div>
				<div class="col lg:w-1/2 lg:mt-0 mt-8 flex flex-col justify-center">
					<img
						src="/img/mesolift2.jpg"
						alt="Comment agit Mesolift ?"
						class="w-full rounded-lg"
						loading="lazy"
					/>
				</div>
			</div>
		</section>

		<section class="bigtopo text-justify px-8 py-24 bg-grey-400 text-white">
			<h2 class="section-title dark text-center">
				Résultats du traitement à l'acide hyaluronique
			</h2>

			<div class="max-w-3xl mx-auto">
				<ResultsGalleryInjectionsLevres />
			</div>
		</section>
		<AutresSoinsInjections />
	</main>
	<!-- FIN DE GAUCHE DROITE -->
</Layout>

<Footer />

<style lang="scss">
	main {
		margin: auto;
	}

	.hero-element {
		background: url("/img/hero-mesolift.jpg") no-repeat center center;
		@apply relative bg-cover bg-center;
	}
	.overlay {
		@apply absolute top-0 bottom-0 left-0 right-0  bg-black bg-opacity-50 pointer-events-none  transition-all duration-500;
	}
</style>
