---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import HeroBox from "../../components/HeroBox.astro";
import Accordion from "../../components/Accordion.astro";
import TarifsMesolift from "../../content/tarifs/mesolift.md";
import { Image } from "astro:assets";
import Footer from "../../components/Footer.astro";
import AutresSoinsInjections from "../../components/AutresSoinsInjections.astro";
import ResultsGalleryInjectionsCernes from "../../components/Resultats/ResultsGalleryInjectionsCernes.astro";
---

<Layout
	title="Rajeunissement du front I Centre Laser Médical Saint-Denis Réunion"
	description="Rajeunissement du front : Le front féminin est convexe (rond) sur le profil avec les paupières pleines alors que chez l’homme le front est plus aplati avec une projection osseuse au niveau des arcades sourcilières. La forme du front dépend principalement de celle de l’os crânien sous-jacent et de son tissu...">
	<div class="hero-element">
		<div class="overlay"></div>
		<Header />
		<HeroBox
			title="Rajeunissement du front"
			body="Réduisez les rides du front et les rides du lion avec le traitement par acide hyaluronique"
		/>
	</div>
	<main>
		<section class="container gauche-droite pt-24 pb-18">
			<div class="lg:flex lg:flex-row gap-8 mb-24">
				<div class="col lg:w-1/2 flex flex-col justify-center">
					<h3 class="text-lg md:text-xl lg:text-xxl mb-6">
						Impact du temps sur le front
					</h3>
					<p class="text-base mb-3">
						La forme du front dépend principalement de celle de l’os crânien
						sous-jacent et de son tissu graisseux sous cutané. Le front féminin
						est convexe (rond) sur le profil avec les paupières pleines alors
						que chez l’homme le front est plus aplati avec une projection
						osseuse au niveau des arcades sourcilières.
					</p>
					<p class="text-base mb-3">
						Avec le temps, le front d’une femme se masculinise : la fonte des
						graisses sous la peau entraine un aplatissement du front et les
						arcades sourcilières paraissent plus projetées. Un front plat ou
						concave en son centre peut être également observé chez des sujets
						jeunes (lié à la forme de l’os frontal sous jacent). Le
						vieillissement du front est également marqué par l’apparition de
						rides horizontales d’expression (dynamiques puis statiques).
						L’injection de toxine botulique permet de les atténuer de manière
						efficace.
					</p>
				</div>
				<div class="col lg:w-1/2 lg:mt-0 mt-8 flex flex-col justify-center">
					<img
						src="/img/mesolift1.jpg"
						alt="Mesolift, c'est quoi ?"
						class="w-full rounded-lg"
						loading="lazy"
					/>
				</div>
			</div>
			<div class="lg:flex lg:flex-row-reverse gap-8 mb-24">
				<div class="col lg:w-1/2 flex flex-col justify-center">
					<h3 class="text-lg md:text-xl lg:text-xxl mb-6">
						Le traitement à l'acide hyaluronique
					</h3>
					<p class="text-base mb-3">
						L’<a href="/injection-acide-hyaluronique/">acide hyaluronique</a>
						atténue les rides et corrige l’insuffisance de projection du front
						liée à la fonte de la graisses sous-cutanée. En cas de dépression,
						on injecte un acide hyaluronique volumateur à la canule. Les rides
						peuvent être comblées avec l’injection superficielle d’un acide
						hyaluronique faiblement réticulé.
					</p>

					<p class="text-base mb-3">
						L’acide hyaluronique est un ingrédient largement utilisé dans les
						traitements esthétiques pour atténuer les rides et corriger
						l'insuffisance de projection du front due à la fonte de la graisse
						sous-cutanée. Pour remédier à la dépression, il est possible
						d'injecter un acide hyaluronique volumateur à l'aide d'une canule.
						De plus, les rides peuvent être comblées en réalisant une injection
						superficielle d'un acide hyaluronique faiblement réticulé.
					</p>
				</div>
				<div class="col lg:w-1/2 lg:mt-0 mt-8 flex flex-col justify-center">
					<img
						src="/img/mesolift2.jpg"
						alt="Comment agit Mesolift ?"
						class="w-full rounded-lg"
						loading="lazy"
					/>
				</div>
			</div>
		</section>

		<section class="bigtopo text-justify px-8 py-24 bg-grey-400 text-white">
			<h2 class="section-title dark text-center">
				Résultats du traitement à l'acide hyaluronique
			</h2>

			<div class="max-w-3xl mx-auto">
				<ResultsGalleryInjectionsCernes />
			</div>
		</section>
		<AutresSoinsInjections />
	</main>
	<!-- FIN DE GAUCHE DROITE -->
</Layout>

<Footer />

<style lang="scss">
	main {
		margin: auto;
	}

	.hero-element {
		background: url("/img/hero-mesolift.jpg") no-repeat center center;
		@apply relative bg-cover bg-center;
	}
	.overlay {
		@apply absolute top-0 bottom-0 left-0 right-0  bg-black bg-opacity-50 pointer-events-none  transition-all duration-500;
	}
</style>
