---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import HeroBox from "../../components/HeroBox.astro";
import Accordion from "../../components/Accordion.astro";
import TarifsMesolift from "../../content/tarifs/mesolift.md";
import { Image } from "astro:assets";
import Footer from "../../components/Footer.astro";
import AutresSoinsInjections from "../../components/AutresSoinsInjections.astro";
import ResultsGalleryInjectionsMains from "../../components/Resultats/ResultsGalleryInjectionsMains.astro";
---

<Layout
	title="Rajeunissement des mains I Centre Laser Médical Reunion"
	description="Avec le temps, la peau du dos des mains devient de plus en plus fine et déshydratée et des taches brunes apparaissent. La perte de volume des parties molles entraine l’apparition de creux...">
	<div class="hero-element">
		<div class="overlay"></div>
		<Header />
		<HeroBox
			title="Rajeunissement des mains"
			body="Retrouvez des mains plus jeunes grâce à la médecine esthétique"
		/>
	</div>
</Layout>
<main>
	<section class="container gauche-droite pt-24 pb-18">
		<div class="lg:flex lg:flex-row gap-8 mb-24">
			<div class="col lg:w-1/2 flex flex-col justify-center">
				<h3 class="text-lg md:text-xl lg:text-xxl mb-6">
					Retrouver des mains plus jeunes
				</h3>
				<p class="text-base mb-3">
					Les mains sont quotidiennement soumises à des nombreuses agressions
					extérieures comme les rayons UV du soleil, le froid, les produits
					ménagers... Avec l’âge, la peau du dos des mains devient de plus en
					plus fine et déshydratée et des taches brunes apparaissent. La perte
					de volume des parties molles entraine l’apparition de creux, la
					saillie des veines et des tendons des muscles extenseurs.
				</p>
				<p class="text-base">
					Le rajeunissement des mains nécessite la prise en charge de l’ensemble
					des facteurs responsables de leur vieillissement. Les techniques
					peuvent se combiner entre elles pour un rajeunissement complet des
					mains, en surface et en profondeur. Les effets seront prolongés par
					certaines mesures préventives (protection solaire, crème hydratante,
					port de gants pour les travaux ménagers).
				</p>
			</div>
			<div class="col lg:w-1/2 lg:mt-0 mt-8 flex flex-col justify-center">
				<img
					src="/img/mesolift1.jpg"
					alt="Mesolift, c'est quoi ?"
					class="w-full rounded-lg"
				/>
			</div>
		</div>
		<div class="lg:flex lg:flex-row-reverse gap-8 mb-24">
			<div class="col lg:w-1/2 flex flex-col justify-center">
				<h3 class="text-lg md:text-xl lg:text-xxl mb-6">
					Le traitement à l'acide hyaluronique
				</h3>
				<p class="text-base mb-3">
					L’injection en profondeur d’acide hyaluronique réticulé, tel que
					Belotero Intense ou Balance, ou d’hyroxyapatite de calcium, comme
					Radiesse, offre une solution efficace pour corriger les creux
					indésirables et dissimuler les veines et les tendons apparents. En
					plus de ces bénéfices esthétiques, ce traitement contribue également à
					améliorer la tonicité et l’hydratation de la peau. Les résultats sont
					visibles immédiatement après l’intervention et perdurent pendant
					environ une année complète.
				</p>
				<p class="text-base mb-3">
					Grâce à ces techniques avancées, vous pourrez ainsi profiter d’une
					apparence plus lisse et rajeunie, sans avoir recours à une
					intervention chirurgicale. N'attendez plus pour prendre soin de votre
					beauté et optez pour cette solution innovante qui vous permettra de
					retrouver une peau éclatante et radieuse.
				</p>
			</div>
			<div class="col lg:w-1/2 lg:mt-0 mt-8 flex flex-col justify-center">
				<img
					src="/img/mesolift2.jpg"
					alt="Comment agit Mesolift ?"
					class="w-full rounded-lg"
				/>
			</div>
		</div>
	</section>

	<section class="bigtopo text-justify px-8 py-24 bg-grey-400 text-white">
		<h2 class="section-title dark text-center">
			Résultats du traitement à l'acide hyaluronique
		</h2>

		<div class="max-w-3xl mx-auto">
			<ResultsGalleryInjectionsMains />
		</div>
	</section>
	<AutresSoinsInjections />
</main>
<!-- FIN DE GAUCHE DROITE -->

<Footer />

<style lang="scss">
	main {
		margin: auto;
	}

	.hero-element {
		background: url("/img/hero-mesolift.jpg") no-repeat center center;
		@apply relative bg-cover bg-center;
	}
	.overlay {
		@apply absolute top-0 bottom-0 left-0 right-0  bg-black bg-opacity-50 pointer-events-none  transition-all duration-500;
	}
</style>
