---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import HeroBox from "../../components/HeroBox.astro";
import Accordion from "../../components/Accordion.astro";
import TarifsMesolift from "../../content/tarifs/mesolift.md";
import { Image } from "astro:assets";
import Footer from "../../components/Footer.astro";
import AutresSoinsInjections from "../../components/AutresSoinsInjections.astro";
import ResultsGalleryInjectionsRhinoplastie from "../../components/Resultats/ResultsGalleryInjectionsRhinoplastie.astro";
---
<Layout
	title="Rhinoplastie médicale I Centre Laser Médical Saint-Denis Réunion"
	description="La rhinoplastie médicale ne peut être considérée et traitée indépendamment des autres structures de la face. Le nez, organe de l’olfaction et de la respiration, contribue à l’expression, à la physionomie et à l’harmonie du visage. Les critères morphologiques de normalité de la face doivent être envisagés...">
	<div class="hero-element">
		<div class="overlay"></div>
		<Header />
		<HeroBox
			title="Rhinoplastie médicale"
			body="Découvrez des alternatives à la chirurgie esthétique, moins invasive et plus rapide."
		/>
	</div>
	<main>
		<section class="container gauche-droite pt-24 pb-18">
			<div class="lg:flex lg:flex-row gap-8 mb-24">
				<div class="col lg:w-1/2 flex flex-col justify-center">
					<h3 class="text-lg md:text-xl lg:text-xxl mb-6">
						Anatomie et critères esthétiques de face
					</h3>
					<p class="text-base mb-3">
						Le visage est divisé en 5 colonnes avec comme repères les canthus
						internes et externes des yeux. La largeur de la base du nez est
						égale à la largeur d’un œil et à la distance intercanthale interne.
					</p>
					<p class="text-base mb-3">
						La face « idéale » peut être divisée horizontalement en 3 tiers de
						taille égale :
						<ul class="pl-3">
							<li class="list-disc mb-1 text-base">
								Supérieur : de la ligne d’implantation des cheveux à la
								glabelle.
							</li>
							<li class="list-disc mb-1 text-base">
								Moyen : de la glabelle à la base du nez.
							</li>
							<li class="list-disc mb-1 text-base">
								Inférieur : de la base du nez au menton.
							</li>
						</ul>
					</p>
				</div>
				<div class="col lg:w-1/2 lg:mt-0 mt-8 flex flex-col justify-center">
					<img
						src="/img/mesolift1.jpg"
						alt="Mesolift, c'est quoi ?"
						class="w-full rounded-lg"
						loading="lazy"
					/>
				</div>
			</div>
			<div class="lg:flex lg:flex-row-reverse gap-8 mb-24">
				<div class="col lg:w-1/2 flex flex-col justify-center">
					<h3 class="text-lg md:text-xl lg:text-xxl mb-6">De profil</h3>
					<p class="text-base mb-3">
						La ligne du dorsum forme avec le front l’angle naso-frontal (115 à
						130°). Si l’angle est trop ouvert, le nez paraitra plus long qu’il
						n’est en réalité ; s’il est trop fermé, le nez semblera plus court.
					</p>

					<p class="text-base mb-3">
						La ligne joignant la glabelle et le menton forme avec le dorsum
						l’angle naso-facial (30 à 40°). Cet angle mesure la projection
						nasale.
					</p>
					<p class="text-base mb-3">
						La columelle, partie médiane de la base du nez, forme avec la lèvre
						supérieure l’angle naso-labial. La rotation de la pointe du nez est
						définie par l’ouverture de cet angle qui doit être compris entre 90
						et 100 ° pour l’homme et 95 et 105° pour la femme.
					</p>
				</div>
				<div class="col lg:w-1/2 lg:mt-0 mt-8 flex flex-col justify-center">
					<img
						src="/img/mesolift2.jpg"
						alt="Comment agit Mesolift ?"
						class="w-full rounded-lg"
						loading="lazy"
					/>
				</div>
			</div>
			<div class="lg:flex lg:flex-row gap-8 mb-24">
				<div class="col lg:w-1/2 flex flex-col justify-center">
					<h3 class="text-lg md:text-xl lg:text-xxl mb-6">
						Utilisation de l'acide hyaluronique
					</h3>
					<p class="text-base mb-3">
						La rhinoplastie médicale ou rhinomodulation, par injection d’acide
						hyaluronique ou d’hydroxyapatite de calcium (Radiesse), est une
						technique alternative à la chirurgie pour corriger certains défauts
						esthétiques du nez :
						<ul class="pl-3">
							<li class="list-disc mb-1 text-base">
								Irrégularités telles que creux, bosse, asymétrie
								(constitutionnelles ou post-traumatiques).
							</li>
							<li class="list-disc mb-1 text-base">
								Anomalies au niveau des angles du nez : relever la pointe du nez
								afin de traiter par exemple un nez tombant, projeter la pointe
								du nez, donner du volume à une arête nasale trop plate (nez
								ethniques)
							</li>
						</ul>
					</p>
					<p class="text-base mb-3">
						Le résultat est visible immédiatement et dure en moyenne 1 an (en fonction du produit utilisé et de l’hygiène de vie du patient).
					</p>
				</div>
				<div class="col lg:w-1/2 lg:mt-0 mt-8 flex flex-col justify-center">
					<img
						src="/img/mesolift1.jpg"
						alt="Mesolift, c'est quoi ?"
						class="w-full rounded-lg"
						loading="lazy"
					/>
				</div>
			</div>
		</section>

		<section class="bigtopo text-justify px-8 py-24 bg-grey-400 text-white">
			<h2 class="section-title dark text-center">
				Résultats du traitement à l'acide hyaluronique
			</h2>

			<div class="max-w-3xl mx-auto">
				<ResultsGalleryInjectionsRhinoplastie />
			</div>
		</section>
		<AutresSoinsInjections />
	</main>
	<!-- FIN DE GAUCHE DROITE -->
</Layout>

<Footer />

<style lang="scss">
	main {
		margin: auto;
	}
	.hero-element {
		background: url("/img/hero-mesolift.jpg") no-repeat center center;
		@apply relative bg-cover bg-center;
	}
	.overlay {
		@apply absolute top-0 bottom-0 left-0 right-0  bg-black bg-opacity-50 pointer-events-none  transition-all duration-500;
	}
</style>
