---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import HeroBox from "../../components/HeroBox.astro";
import Accordion from "../../components/Accordion.astro";
import TarifsMesolift from "../../content/tarifs/mesolift.md";
import { Image } from "astro:assets";
import Footer from "../../components/Footer.astro";
import AutresSoinsInjections from "../../components/AutresSoinsInjections.astro";
import ResultsGalleryInjectionsSillonNG from "../../components/Resultats/ResultsGalleryInjectionsSillonNG.astro";
---

<Layout
	title="Sillon nasogénien et acide hyaluronique | Centre Laser Médical Réunion"
	description="Le sillon naso génien est le pli entre l’aile du nez et le coin de la bouche. L’injection d'acide hyaluronique dans les sillons permet de les effacer avec un effet rajeunissant immédiat du visage.">
	<div class="hero-element">
		<div class="overlay"></div>
		<Header />
		<HeroBox
			title="Sillon naso génien et pli d'amertume"
			body="Redéfinissez les contours de votre visage grâce à l'acide hyaluronique"
		/>
	</div>
	<main>
		<section class="container gauche-droite pt-24 pb-18">
			<div class="lg:flex lg:flex-row gap-8 mb-24">
				<div class="col lg:w-1/2 flex flex-col justify-center">
					<h3 class="text-lg md:text-xl lg:text-xxl mb-6">
						Le sillon naso génien
					</h3>
					<p class="text-base mb-3">
						Le sillon nasogénien est défini par le pli formé entre l’aile du nez
						et le coin de la bouche. Le pli d’amertume, lui est le pli qui se
						crée au niveau des commissures labiales et descend vers la
						mandibule.
					</p>
					<p class="text-base mb-3">
						L’apparition de ces sillons est liée au glissement des graisses
						sous-cutanées vers le bas et l’avant secondaire au relâchement de la
						peau et des muscles peauciers du visage. Le traitement consiste à
						combler ces sillons et/ou à lifter les tissus relâchés (joues).
					</p>
					<p class="text-base">
						Les sillons nasogéniens et pli d’amertume sont également associés à
						la perte de définition de l’ovale du visage avec apparition de
						bajoues.
					</p>
				</div>
				<div class="col lg:w-1/2 lg:mt-0 mt-8 flex flex-col justify-center">
					<img
						src="/img/mesolift1.jpg"
						alt="Mesolift, c'est quoi ?"
						class="w-full rounded-lg"
					/>
				</div>
			</div>
			<div class="lg:flex lg:flex-row-reverse gap-8 mb-24">
				<div class="col lg:w-1/2 flex flex-col justify-center">
					<h3 class="text-lg md:text-xl lg:text-xxl mb-6">
						Le traitement à l'acide hyaluronique
					</h3>
					<p class="text-base mb-3">
						Afin d’atténuer le sillon nasogénien et le pli d’amertume, la technique consiste à injecter directement au niveau du sillons ou dans les joue en direction de ce pli. L’injection à la canule des sillons apporte du soutien et réduit la ptôse des tissus.
					</p>
					<p class="text-base mb-3">
						Le passage de la canule permet également de casser les adhérences dermiques au niveau de ces plis améliorant ainsi le résultat.
					</p>
					<p class="text-base mb-3">
					L’injection associée des pommettes et de la vallée des larmes atténue également les sillons par effet lift.
					</p>
				</div>
				<div class="col lg:w-1/2 lg:mt-0 mt-8 flex flex-col justify-center">
					<img
						src="/img/mesolift2.jpg"
						alt="Comment agit Mesolift ?"
						class="w-full rounded-lg"
					/>
				</div>
			</div>
		</section>

		<section class="bigtopo text-justify px-8 py-24 bg-grey-400 text-white">
			<h2 class="section-title dark text-center">
				Résultats du traitement à l'acide hyaluronique
			</h2>

			<div class="max-w-3xl mx-auto">
				<ResultsGalleryInjectionsSillonNG />
			</div>
		</section>
		<AutresSoinsInjections />
	</main>
	<!-- FIN DE GAUCHE DROITE -->
</Layout>

<Footer />

<style lang="scss">
	main {
		margin: auto;
	}

	.hero-element {
		background: url("/img/hero-mesolift.jpg") no-repeat center center;
		@apply relative bg-cover bg-center;
	}
	.overlay {
		@apply absolute top-0 bottom-0 left-0 right-0  bg-black bg-opacity-50 pointer-events-none  transition-all duration-500;
	}
</style>
