---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import HeroBox from "../../components/HeroBox.astro";
import Accordion from "../../components/Accordion.astro";
import TarifsMesolift from "../../content/tarifs/mesolift.md";
import { Image } from "astro:assets";
import Footer from "../../components/Footer.astro";
import AutresSoinsInjections from "../../components/AutresSoinsInjections.astro";
import ResultsGalleryInjectionsValleeLarmes from "../../components/Resultats/ResultsGalleryInjectionsValleeLarmes.astro";
---

<Layout
	title="Injections vallée des larmes I Centre Laser Médical Réunion"
	description="La correction de la vallée des larmes par injection d’acide hyaluronique a un double intérêt : l’apport de volume corrige le creux et crée un effet lift de la partie médiane de la joue atténuant le sillon nasogénien.">
	<div class="hero-element">
		<div class="overlay"></div>
		<Header />
		<HeroBox
			title="Vallée des larmes"
			body="Retrouvez un regard plus vif et plus jeune grâce à l'injection d'acide hyaluronique"
		/>
	</div>
</Layout>
<main>
	<section class="container gauche-droite pt-24 pb-18">
		<div class="lg:flex lg:flex-row gap-8 mb-24">
			<div class="col lg:w-1/2 flex flex-col justify-center">
				<h3 class="text-lg md:text-xl lg:text-xxl mb-6">
					Impact du temps sur le regard
				</h3>
				<p class="text-base mb-3">
					La vallée des larmes est un creux qui se forme sous le cerne, entre la partie haute du nez et la région des pommettes, où viennent s’écouler les larmes avant de rouler sur les joues.
				</p>
				<p class="text-base mb-3">
					Des modifications osseuses, musculaires et graisseuses sont à l’origine de la vallée des larmes. La graisse s’affaisse ou fond au niveau de cette zone, créant une dépression qui donne au visage un air triste et fatigué. 
				</p>
				<p class="text-base">
					La vallée des larmes peut apparaitre précocement (dès l’âge de 30 ans) et s’accentue progressivement avec le temps.
				</p>
			</div>
			<div class="col lg:w-1/2 lg:mt-0 mt-8 flex flex-col justify-center">
				<img
					src="/img/mesolift1.jpg"
					alt="Mesolift, c'est quoi ?"
					class="w-full rounded-lg"
				/>
			</div>
		</div>
		<div class="lg:flex lg:flex-row-reverse gap-8 mb-24">
			<div class="col lg:w-1/2 flex flex-col justify-center">
				<h3 class="text-lg md:text-xl lg:text-xxl mb-6">
					Le traitement à l'acide hyaluronique
				</h3>
				<p class="text-base mb-3">
					La correction des vallées des larmes par injection d'acide hyaluronique présente un double intérêt indéniable. En effet, grâce à cet acte esthétique, il est possible de combler le creux qui se forme au niveau de cette zone et de créer ainsi un effet de lift naturel au niveau de la partie médiane de la joue. Ce procédé permet également d'atténuer de manière significative le sillon nasogénien, contribuant ainsi à rajeunir l'apparence générale du visage. 
				</p>
				<p class="text-base mb-3">
					Les résultats obtenus sont souvent spectaculaires et permettent aux patients de retrouver une apparence plus jeune et plus épanouie. De plus, l'acide hyaluronique utilisé lors de cette procédure est un produit entièrement naturel et biodégradable, ce qui en fait une option sûre et durable pour corriger ces imperfections. 
				</p>
			</div>
			<div class="col lg:w-1/2 lg:mt-0 mt-8 flex flex-col justify-center">
				<img
					src="/img/mesolift2.jpg"
					alt="Comment agit Mesolift ?"
					class="w-full rounded-lg"
				/>
			</div>
		</div>
	</section>

	<section class="bigtopo text-justify px-8 py-24 bg-grey-400 text-white">
		<h2 class="section-title dark text-center">
			Résultats du traitement à l'acide hyaluronique
		</h2>

		<div class="max-w-3xl mx-auto">
			<ResultsGalleryInjectionsValleeLarmes />
		</div>
	</section>
	<AutresSoinsInjections />
</main>
<!-- FIN DE GAUCHE DROITE -->

<Footer />

<style lang="scss">
	main {
		margin: auto;
	}

	.hero-element {
		background: url("/img/hero-mesolift.jpg") no-repeat center center;
		@apply relative bg-cover bg-center;
	}
	.overlay {
		@apply absolute top-0 bottom-0 left-0 right-0  bg-black bg-opacity-50 pointer-events-none  transition-all duration-500;
	}
</style>
