---
import { Image } from "astro:assets";
interface Props {
	//title: string;
	//body: string;
	//href: string;
}
---

<div class="topbar" transition:persist>
	<div class="inner_container_lg">
		<div class="left">
			<a href="tel:+262720570" class="mr-2">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					height="0.9em"
					viewBox="0 0 512 512"
					><path
						d="M304.3 387.5l-31.9-18.4c-53.8-31-98.6-75.8-129.6-129.6l-18.4-31.9 26-26 33.2-33.2L146 54.2 48.1 72c4.2 214.5 177.4 387.6 391.9 391.9L457.7 366l-94.2-37.7-33.2 33.2-26 26zM352 272l160 64L480 512H448C200.6 512 0 311.4 0 64L0 32 176 0l64 160-55.6 55.6c26.8 46.5 65.5 85.2 112 112L352 272z"
					></path></svg
				> 0262 72 05 70</a
			>| <a class="ml-2" href="mailto:contact@medecine-esthetique.re"
				><svg
					xmlns="http://www.w3.org/2000/svg"
					height="0.9em"
					viewBox="0 0 512 512"
					><path
						d="M48 150.8l208 143 208-143V112H48v38.8zM464 209L256 352 48 209V400H464V209zM0 400V176 112 64H48 464h48v48 64V400v48H464 48 0V400z"
					></path></svg
				> contact@medecine-esthetique.re</a
			>
		</div>
		<div class="right">
			<span
				class="gogdm"
				data-goto="aHR0cHM6Ly93d3cuZmFjZWJvb2suY29tL2dkbXBpeGVsLw==">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					height="1em"
					viewBox="0 0 448 512"
					><path
						d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z"
					></path></svg
				>
			</span>
			<span class="gogdm" data-goto="aHR0cHM6Ly90d2l0dGVyLmNvbS9nZG1fcGl4ZWw=">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					height="1em"
					viewBox="0 0 512 512"
					><path
						d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"
					></path></svg
				>
			</span>
			<span
				class="gogdm"
				data-goto="aHR0cHM6Ly93d3cubGlua2VkaW4uY29tL2luL2NoYXJsZXMtYW5ub25pLThhNjQ1NjU2Lw==">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					height="1em"
					viewBox="0 0 448 512"
					><path
						d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"
					></path></svg
				>
			</span>
			<span
				class="gogdm"
				data-goto="aHR0cHM6Ly93d3cueW91dHViZS5jb20vYy9HRE1QaXhlbA==">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					height="1em"
					viewBox="0 0 576 512"
					><path
						d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"
					></path></svg
				></span
			>
		</div>
	</div>
</div>
<div class="header" transition:persist>
	<div class="container">
		<a href="/"
			><img
				src="/img/logo-white.svg"
				class="logo"
				alt="Logo Laser Médical"
			/></a
		>
		<nav class="desktop-nav">
			<ul>
				<li>
					<a href="/" data-image-src="/img/hero-home-bck.webp"
						><svg
							xmlns="http://www.w3.org/2000/svg"
							height="1em"
							viewBox="0 0 576 512"
							><path
								d="M576 287.6H511.8l1 224.4H472 456 352V352H224V512H120 104 64.1V474.8c-.1-.9-.1-1.8-.1-2.8V360c0-.9 0-1.9 .1-2.8V287.6H0V240L288.4 0 416 106.5V32h96V186.6L576 240v47.6z"
							></path></svg
						></a
					>
				</li>
				<li>
					<a
						href="/epilation-definitive/"
						data-image-src="/img/hero-epilation-laser-bck.webp"
						>Epilation laser</a>
				</li>
				<li>
					<a
						href="/detatouage-laser/"
						data-image-src="/img/hero-detatouage-laser.jpg">Détatouage laser</a>
				</li>

				<!-- Menu Visage avec sous-menu -->
				<li>
					<a href="/soins-visage/"
						>Visage <svg
							class="ml-4"
							xmlns="http://www.w3.org/2000/svg"
							height="0.9em"
							viewBox="0 0 512 512"
							><path
								d="M256 429.3l22.6-22.6 192-192L493.3 192 448 146.7l-22.6 22.6L256 338.7 86.6 169.4 64 146.7 18.7 192l22.6 22.6 192 192L256 429.3z"
							></path></svg
						></a
					>
					<ul>
						<li>
							<a
								href="/injection-acide-hyaluronique/"
								data-image-src="/img/hero-acide-hyaluronique.webp"
								>Acide hyaluronique</a
							>
						</li>
						<li>
							<a href="/toxine-botulique/" data-image-src="/img/herobotox.jpg"
								>Toxine botulique</a>
						</li>
						<li>
							<a
								href="/rajeunissement-laser/"
								data-image-src="/img/rejuvenation-laser.jpg"
								>Réjuvénation laser</a>
						</li>
						<li><a href="/mesolift/" data-image-src="/img/hero-mesolift.jpg">Mésolift</a></li>
						<li><a href="/exilis-elite/" data-image-src="/img/hero-exilis-elite.jpg">Radiofréquence</a></li>
					</ul>
				</li>

				<!-- Menu Corps avec sous-menu -->
				<li>
					<a href="/soins-corps/"
						>Corps <svg
							class="ml-4"
							xmlns="http://www.w3.org/2000/svg"
							height="0.9em"
							viewBox="0 0 512 512"
							><path
								d="M256 429.3l22.6-22.6 192-192L493.3 192 448 146.7l-22.6 22.6L256 338.7 86.6 169.4 64 146.7 18.7 192l22.6 22.6 192 192L256 429.3z"
							></path></svg
						></a
					>
					<ul>
						<li><a href="/cryolipolyse/" data-image-src="/img/hero-cryo.jpg">Cryolipolyse</a></li>
						<li><a href="/exilis-elite/" data-image-src="/img/hero-exilis-elite.jpg">Raffermissement cutané</a></li>
					</ul>
				</li>

				<li><a href="/tarifs/">Tarifs</a></li>
				<li><a href="/contact/">Contact</a></li>
				<li><a href="/demander-un-rendez-vous/" class="rdv">Prendre RDV</a></li>
			</ul>
		</nav>
		<button
			id="hambBtn"
			class="transition-transform duration-300 ease-in-out block lg:hidden"
			data-visible="false">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				height="1em"
				viewBox="0 0 448 512"
				fill="#ffffff"
				><path d="M0 64H448v64H0V64zM0 224H448v64H0V224zM448 384v64H0V384H448z"
				></path></svg
			>
		</button>
	</div>
</div>

<div class="mobile-menu-overlay"></div>
<div id="mobile-nav" class="lm-nav">
	<div class="lm-nav-content">
		<button class="gdm-nav-btn gdm-close-btn"
			><svg
				xmlns="http://www.w3.org/2000/svg"
				height="1em"
				viewBox="0 0 512 512"
				><path
					d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm97.9-320L320 158.1l-17 17-47 47-47-47-17-17L158.1 192l17 17 47 47-47 47-17 17L192 353.9l17-17 47-47 47 47 17 17L353.9 320l-17-17-47-47 47-47 17-17z"
				></path></svg
			></button
		>
		<div class="flex flex-col justify-start items-start">
			<img src="/img/logo-white.svg" class="logo" alt="Logo Laser Médical" />

			<ul
				class="gdm-list flex flex-col justify-start alig-start text-left mt-6">
				<ul>
					<li><a href="/epilation-definitive/">EPILATION LASER</a></li>
					<li><a href="/detatouage-laser/">DETATOUAGE LASER</a></li>
					<li>
						<a href="/soins-visage/">VISAGE</a>
						<ul class="sub-menu ml-4">
							<li>
								<a href="/injection-acide-hyaluronique/">Acide hyaluronique</a>
							</li>
							<li><a href="/toxine-botulique/">Toxine botulique</a></li>
							<li><a href="/rajeunissement-laser/">Réjuvénation laser</a></li>
							<li><a href="/mesolift/">Mésolift</a></li>
							<li><a href="/exilis-elite/">Radiofréquence</a></li>
						</ul>
					</li>
					<li>
						<a href="/soins-coprs/">CORPS</a>
						<ul class="sub-menu ml-4">
							<li><a href="/cryolipolyse/">Cryolipolyse</a></li>
							<li><a href="/exilis-elite/">Radiofréquence</a></li>
						</ul>
					</li>
					<li><a href="/tarifs/">TARIFS</a></li>
					<li><a href="/demander-un-rendez-vous/">PRENDRE RDV</a></li>
					<li><a href="/contact/">CONTACT</a></li>
				</ul>
			</ul>
		</div>
	</div>
</div>

<script>
	function setup() {
		window.addEventListener("scroll", function () {
			var desktopNav = document.querySelector(".desktop-nav");
			var header = document.querySelector(".header");
			if (window.innerWidth > 1024) {
				desktopNav?.classList.toggle("stickynav", window.scrollY > 400);
			} else {
				header?.classList.toggle("stickynav", window.scrollY > 400);
			}
		});
		const navLinks = document.querySelectorAll("nav ul li a");

		navLinks.forEach((link) => {
			if (link.getAttribute("href") === window.location.pathname) {
				link.classList.add("active");
			}

			link.addEventListener("click", () => {
				navLinks.forEach((link) => link.classList.remove("active"));
				link.classList.add("active");
			});
		});

		const menuButton = document.querySelector("#hambBtn");
		const closeButton = document.querySelector(".gdm-close-btn");
		const closeOverlay = document.querySelector(".mobile-menu-overlay");
		// Écouteur pour les clics en dehors du menu

		//@ts-ignore
		menuButton.addEventListener("click", toggleMenu);
		//@ts-ignore
		closeButton.addEventListener("click", toggleMenu);
		//@ts-ignore
		closeOverlay.addEventListener("click", toggleMenu);
	}

	document.addEventListener("DOMContentLoaded", setup);
	document.addEventListener("astro:page-load", setup);

	function toggleMenu() {
		const navBlack = document.querySelector(".lm-nav");
		const overlay = document.querySelector(".mobile-menu-overlay");

		//@ts-ignore
		const isMenuVisible = navBlack.classList.contains("activated");

		// Basculer la classe 'visible' sur chaque élément de navigation
		[navBlack, overlay].forEach((nav) => {
			if (isMenuVisible) {
				//@ts-ignore
				nav.classList.remove("activated");
				//@ts-ignore
				overlay.style.opacity = "0";
			} else {
				//@ts-ignore
				nav.classList.add("activated");
				//@ts-ignore
				overlay.style.opacity = "1";
			}
		});
	}
</script>
<style lang="scss" is:global>
	.topbar {
		@apply bg-black bg-opacity-60 text-white px-6 text-sm py-2 z-20 relative hidden lg:block;
		.inner_container_lg {
			@apply flex flex-col md:flex-row justify-between items-center container;
			.left {
				@apply flex items-center;
				a {
					@apply flex items-center justify-center text-white;
					&:hover {
						@apply text-grey-400;
						svg {
							@apply text-grey-400 fill-grey-400;
						}
					}
				}
			}
			.right {
				@apply md:flex xs:hidden items-center;
				a {
					@apply flex flex-col justify-center items-center text-white;
					&:hover {
						@apply text-grey-400;
					}
				}
			}
		}
		svg {
			@apply mr-2 fill-white transition-all duration-300 text-base;
			&:hover {
				@apply fill-grey-400 transition-all duration-300;
			}
		}
		.svg-inline--fa {
			@apply mx-2 w-4;
		}
	}
	@keyframes slideDown {
		0% {
			transform: translateY(-100%);
		}
		100% {
			transform: translateY(0);
		}
	}
	.header {
		@apply bg-black bg-opacity-30 pt-2 pb-0 px-6 relative z-20 transition-all duration-300 ease-in-out xs:h-[65px] xs:flex xs:items-center xs:justify-center lg:h-auto;
		&.stickynav {
			&.stickynav {
				@apply bg-opacity-60 fixed top-0 transition-all duration-1000 ease-in-out z-30  w-full mx-auto bg-black;
				animation: slideDown 0.5s forwards;
			}
		}
		.container {
			@apply max-w-[1600px] flex flex-row lg:flex-col px-0 pt-0 lg:pt-10 pb-0 justify-between items-center;
		}
		.logo {
			@apply max-w-[140px] lg:max-w-[230px] w-[330px] mb-0 lg:mb-6 h-auto transition-all duration-300 ease-in-out;
		}
		nav.desktop-nav {
			@apply xl:flex items-center h-[46px] justify-center hidden lg:block mt-0 mb-4;
			ul {
				@apply flex h-full;
				li {
					@apply relative;
					a {
						@apply md:text-sm lg:text-sm xl:text-base uppercase font-semibold h-full flex items-center text-white lg:px-4 xl:px-4 mx-2 flex-auto  hover:text-white hover:bg-black;
						&.active {
							@apply text-white bg-grey-700;
							svg {
								@apply fill-white;
							}
						}
						&.rdv {
							@apply bg-brown-400 text-white rounded-lg;
							&:hover {
								@apply bg-brown-700 underline;
							}
						}
					}
					svg {
						@apply fill-white transition-all duration-300 hover:fill-grey-400;
					}
					ul {
						@apply hidden absolute top-full left-0 shadow-md w-52  text-white z-40;
						li {
							a {
								@apply text-xs bg-grey-500 border-t border-grey-400 px-4 py-4;
							}
						}
					}
					&:hover {
						ul {
							@apply block;
						}
					}
				}
			}
			&.stickynav {
				@apply bg-opacity-60 fixed top-0 transition-all duration-1000 ease-in-out z-30  w-full mx-auto bg-black;
				animation: slideDown 0.5s forwards;
				nav.desktop-nav {
					@apply h-[60px];
				}
			}
		}
		nav.mobile-nav {
			@apply visible xl:hidden;
		}
	}

	.mobile-menu-overlay {
		opacity: 0;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7); /* Noir avec opacité */
		z-index: 29;
		pointer-events: none;
		transition: 300ms ease all;
	}

	/* Style pour montrer l'overlay quand le menu mobile est activé */
	.mobile-menu-overlay.activated {
		pointer-events: all;
		opacity: 1;
		transition: 300ms ease all;
	}
	.gdm-text {
		text-transform: uppercase;
	}

	.gdm-nav-btn {
		border: 0;
		background: transparent;
		cursor: pointer;
		font-size: 20px;
	}

	.gdm-open-btn {
		position: fixed;
		top: 10px;
		left: 10px;
	}

	.lm-nav {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 30;
		pointer-events: none;
	}

	.lm-nav-content {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		width: 100%;
		max-width: 360px; /* ou la largeur souhaitée */
		height: fit-content;
		min-height: 50vh; /* ou la hauteur souhaitée */
		max-height: 90vh;
		overflow-y: auto;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: flex-start;
		background-color: #000000cc;
		padding: 40px;
		opacity: 0; /* Commencer invisible */
		transform: scale(0.6);
		transition:
			opacity 0.3s ease,
			transform 0.3s ease;
		pointer-events: none;
	}
	/* Styliser la barre de défilement pour Chrome, Safari et Edge */
	.lm-nav-content::-webkit-scrollbar {
		width: 8px; /* Largeur de la barre de défilement */
	}

	.lm-nav-content::-webkit-scrollbar-track {
		background: #f1f1f1; /* Couleur de la piste de défilement */
		border-radius: 8px; /* Arrondir les coins */
	}

	.lm-nav-content::-webkit-scrollbar-thumb {
		background: #888; /* Couleur de la barre de défilement */
		border-radius: 8px; /* Arrondir les coins */
	}

	.lm-nav-content::-webkit-scrollbar-thumb:hover {
		background: #555; /* Couleur de la barre de défilement au survol */
	}

	/* Styliser la barre de défilement pour Firefox */
	.lm-nav-content {
		scrollbar-width: thin; /* "auto" ou "thin" */
		scrollbar-color: #888 #f1f1f1; /* couleur de la barre et de la piste */
	}

	.lm-nav.activated {
		opacity: 1; /* Pleinement visible */
		transform: scale(1); /* Taille normale */
		.lm-nav-content {
			@apply opacity-100 scale-100 z-50 pointer-events-auto;
		}
	}

	.gdm-close-btn {
		fill: white;
		opacity: 0.6;
		position: absolute;
		top: 30px;
		right: 30px;
	}

	.gdm-logo {
		width: 150px;
	}

	.gdm-list {
		list-style-type: none;
		padding: 0;
	}

	.gdm-list li {
		margin: 10px 0;
	}

	.gdm-list li a {
		color: white;
		font-size: 18px;
		text-decoration: none;
		font-weight: bold;
		transition: 300ms ease all;
		svg.home-btn {
			@apply fill-white transition-all duration-300 text-base;
			&:hover {
				@apply fill-grey-400 transition-all duration-300;
			}
		}
		&:hover {
			@apply text-brown-400 transition-all duration-300;
		}
	}
</style>
