---

---

<div id="repere"></div>
<style lang="scss">
	#repere {
		@apply flex justify-center items-center fixed bottom-12 z-40 right-0 xs:bg-[red] sm:bg-[orange] md:bg-[yellow] lg:bg-[green] xl:bg-[blue] xxl:bg-[purple]
 w-52 h-24  xxl:before:content-['XXL'] xl:before:content-['XL'] lg:before:content-['LG'] md:before:content-['MD'] sm:before:content-['SM'] xs:before:content-['XS'] text-white text-base font-bold shadow-md drop-shadow-lg;
	}
</style>
