---
import Layout from "../layouts/Layout.astro";
const allTarifsFemme = await Astro.glob(
	`../content/tarifs/epilationlaser/femme/*.md`,
);
const allTarifsHomme = await Astro.glob(
	`../content/tarifs/epilationlaser/homme/*.md`,
);
const nosTarifsFemme = allTarifsFemme.map((n) => ({
	title: n.frontmatter.name,
	image: n.frontmatter.image,
	Content: n.Content,
}));
const nosTarifsHomme = allTarifsHomme.map((n) => ({
	title: n.frontmatter.name,
	image: n.frontmatter.image,
	Content: n.Content,
}));
---
<div class="text-center flex justify-center items-center">
<div class="tabnav">
	<span
		data-target="tariffemme"
		class="tablaser tariffemme active md:text-md sm:text-base text-[16px] px-4 py-2 font-semibold"
		>Tarifs femme</span
	>
	<span
		data-target="tarifhomme"
		class="tablaser tarifhomme md:text-md sm:text-base text-[16px] px-4 py-2 font-semibold"
		>Tarifs homme</span
	>
</div></div>

<div class="tab-content mx-auto px-0 relative h-auto">
	<div id="tariffemme" class="mt-8 mb-12 tabcontentElLaser active">
		<div class="mySwiperFemme">
			<div class="swiper mySwiperThumbsFemme">
				<div class="swiper-wrapper">
					{
						nosTarifsFemme.slice(0, 5).map(({ title, image }) => (
							<div
								class="swiper-slide"
								style={`background-image:url("/thumbs/${image}")`}>
								<h4>{title}</h4>
								<div class="overlay" />
							</div>
						))
					}
				</div>
			</div>
			<div class="swiper-wrapper mt-8 mainswiper">
				{
					nosTarifsFemme.slice(0, 5).map(({ title, Content }) => (
						<div class="swiper-slide">
							<Content />
						</div>
					))
				}
			</div>
		</div>
	</div>
	<div id="tarifhomme" class="mt-8 mb-12 tabcontentElLaser">
		<div class="mySwiperHomme">
			<div class="swiper mySwiperThumbsHomme">
				<div class="swiper-wrapper">
					{
						nosTarifsHomme.slice(0, 5).map(({ title, image }) => (
							<div
								class="swiper-slide"
								style={`background-image:url("/thumbs/${image}")`}>
								<h4>{title}</h4>
								<div class="overlay" />
							</div>
						))
					}
				</div>
			</div>
			<div class="swiper-wrapper mt-8 mainswiper">
				{
					nosTarifsHomme.slice(0, 5).map(({ title, Content }) => (
						<div class="swiper-slide">
							<Content />
						</div>
					))
				}
			</div>
		</div>
	</div>
</div>

<script>
	import Swiper from "swiper/bundle";
	import "swiper/css/bundle";

	//@ts-ignore
	function initializeSwiperLaser(selectorThumbs, selectorMain) {
		const swiperMainElement = document.querySelector(selectorMain);
		// Vérifier si le Swiper existe déjà
		if (swiperMainElement && !swiperMainElement.swiper) {
			const swiperThumbs = new Swiper(selectorThumbs, {
				slidesPerView: "auto",
				freeMode: false,
				watchSlidesProgress: true,
				slideToClickedSlide: true,
			});
			new Swiper(selectorMain, {
				slideActiveClass: "swiper-slide-active",
				effect: "fade",
				fadeEffect: {
					crossFade: true,
				},
				spaceBetween: 10,
				freeMode: false,
				slidesPerView: 1,
				watchSlidesProgress: false,
				thumbs: {
					swiper: swiperThumbs,
				},
			});
		}
	}

	// Initialisation des instances Swiper au chargement de la page
	document.addEventListener("DOMContentLoaded", () => {
		initializeSwiperLaser(".mySwiperThumbsFemme", ".mySwiperFemme");
		initializeSwiperLaser(".mySwiperThumbsHomme", ".mySwiperHomme");
	});

	// Réinitialisation des instances Swiper lors du chargement d'une nouvelle page avec Astro
	document.addEventListener("astro:page-load", () => {
		initializeSwiperLaser(".mySwiperThumbsFemme", ".mySwiperFemme");
		initializeSwiperLaser(".mySwiperThumbsHomme", ".mySwiperHomme");
	});
</script>
<script>
	//FONCTION QUI GERE LES TABS ET LEURS CONTENUS
function attachTabClickHandlers() {
  const tabs = document.querySelectorAll(".tablaser");
  tabs.forEach((tab) => {
    tab.removeEventListener("click", handleTabClick); // Nettoyez d'abord
    tab.addEventListener("click", handleTabClick); // Attachez ensuite
  });
}

function handleTabClick() {
  const tabs = document.querySelectorAll(".tablaser");
  const tabContents = document.querySelectorAll(".tabcontentElLaser");
  //@ts-ignore
  const targetId = this.getAttribute("data-target");
  const newActiveTabContent = document.getElementById(targetId);
  const currentActiveTabContent = document.querySelector(".tabcontentElLaser.active");

  tabs.forEach((tab) => tab.classList.remove("active"));
  //@ts-ignore
  this.classList.add("active");

  if (currentActiveTabContent) {
    currentActiveTabContent.classList.remove("active");
    currentActiveTabContent.classList.add("inactive");
	resetSwipers();
  }
//@ts-ignore
  newActiveTabContent.classList.add("active");
  //@ts-ignore
  newActiveTabContent.classList.remove("inactive");

  tabContents.forEach((tabContent) => {
    if (tabContent !== newActiveTabContent) {
      tabContent.classList.remove("active");
      tabContent.classList.add("inactive");
    }
  }); 
}

function resetSwipers() {
	//@ts-ignore
  const swiperFemme = document.querySelector('.mySwiperFemme').swiper;
  //@ts-ignore
  const swiperHomme = document.querySelector('.mySwiperHomme').swiper;
  
  if (swiperFemme) {
    swiperFemme.slideTo(0);
  }
  if (swiperHomme) {
    swiperHomme.slideTo(0);
  }
}

document.querySelectorAll(".tablaser").forEach((tab) => {
  tab.addEventListener("click", handleTabClick);
});

document.addEventListener("DOMContentLoaded", attachTabClickHandlers);
document.addEventListener("astro:page-load", attachTabClickHandlers);
</script>

<style lang="scss">
	.swiper-fade .mySwiperThumbsFemme .swiper-slide,
	.swiper-fade .mySwiperThumbsHomme .swiper-slide {
		pointer-events: auto !important;
		transition-property: opacity;
		transition: 300ms ease all;
	}

	.mySwiperThumbsFemme,
	.mySwiperThumbsHomme {
		.swiper-wrapper {
			@apply mx-auto text-center flex flex-wrap justify-center gap-4 sm:gap-6;
		}
		.swiper-slide {
			@apply cursor-pointer h-36 rounded-lg overflow-hidden text-center text-white text-base flex flex-col justify-end items-center leading-6 pb-6 filter grayscale transition-all duration-300 ease-in-out bg-cover bg-center bg-no-repeat hover:grayscale-0 max-w-[200px];
			h4 {
				@apply text-[18px] z-20 relative;
			}
			&.swiper-slide-thumb-active {
				@apply filter grayscale-0;
			}
			.overlay {
				@apply bg-black bg-opacity-10 absolute top-0 left-0 right-0 bottom-0 z-10;
			}
		}
		.swiper-slide-thumb-active {
			@apply font-bold;
		}
	}

	.mainswiper {
		@apply text-center;
		.swiper-slide {
			@apply text-left text-base bg-white h-0 mx-auto;
			&.swiper-slide-active {
				@apply h-auto  mx-auto;

			}
		}
		
	}

	.tabnav {
		@apply flex text-center mx-auto px-8 ;
	}
	.tablaser {
		@apply text-grey-400 bg-grey-100 transition-all duration-300 rounded-ss-lg rounded-se-lg ;
		&:hover {
			@apply cursor-pointer bg-grey-200 transition-all duration-200 text-white;
		}
	}
	.tablaser.active {
		@apply text-white bg-grey-300;
	}
	#tariffemme,
	#tarifhomme {
		position: relative;
		max-width:100%;
		
	}
	@keyframes fadeIn {
		from {
			opacity: 0;
			transform: translateY(20px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	@keyframes fadeOut {
		from {
			opacity: 1;
			transform: translateY(0);
		}
		to {
			opacity: 0;
			transform: translateY(20px);
		}
	}

	.is-leaving {
		animation: slideAndFadeOut 500ms forwards !important;
	}

	@keyframes slideAndFadeOut {
		0% {
			opacity: 1;
			transform: translateY(0);
		}
		100% {
			opacity: 0;
			transform: translateY(-20px);
		}
	}
	#tariffemme,
	#tarifhomme {
		opacity: 0;
		transition:
			opacity 500ms ease,
			transform 500ms ease;
		position: absolute;
		pointer-events: none; // Assurez-vous que l'élément non actif ne bloque pas les clics
		animation-fill-mode: forwards; // Gardez l'état final après l'animation
	}

	#tariffemme.active,
	#tarifhomme.active {
		opacity: 1;
		position: relative;
		pointer-events: auto; // Activez les clics lorsque l'onglet est actif
		animation: fadeIn 800ms ease forwards; // Utilisez fadeIn lors de l'activation
	}
</style>
